{{#> base}}
<div id="content"></div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    document.getElementById('content').innerHTML = 
        DOMPurify.sanitize(
            marked.parse(
                `{{raw_markdown}}`
                    .replace(/^[\u200B\u200C\u200D\u200E\u200F\uFEFF]/,"")
            )
        );
</script>
{{/base}}