{{#> base}}
    <h2>Signup</h2>
    <form action="/signup" method="post">
        <label for="name">Nickname:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="password">Confirm password:</label>
        <input type="password" id="password" name="conf_password" required>

        <input type="submit" value="Register">
    </form>
{{/base}}